/* Univeral selector  style */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/* Body style */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: orangered;
    color: #262626;
    font-size: 15px;
    line-height: 1.5;
}

/* <a> Element style */
a {
    color: black;
    text-decoration: none;
}

 ul {
    list-style: none;
}

.content {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
}

.nav-links ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-links ul li {
    padding: 0 10px;
}

.nav-links ul li a {
    padding-bottom: 2px;
}

.nav-links ul li a:hover {
    border-bottom: 2px solid #262626;
    opacity: 0.9;
}

.nav-links ul.main-menu {
    flex: 1;
    margin-left: 20px;
}

.intro {
    width: 100%;
    height: 400px;
    background: url('../images/bodegabay.JPG')
    no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.intro h2 {
    font-size: 18px;
}

.intro h2, .intro p {
    color: orangered;
    margin-bottom: 5px;
}

.my-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-content: space-around;
}

.my-info img {
    width: 100%;
    margin-right: 40px;
    max-height: 300px;
   
}

.my-bit {
    font-weight: bold;
}

.my-bit h3 {
    font-size: 40px;
    color: white;
}

.my-bit p {
    font-size: 20px;
    color: #262626;
    line-height: 1em;
}
.work {
    text-transform: uppercase;
    text-align: center;
    margin: 30px;
}

.work h2 {
    color: #fff;
    font-weight: bold;
}

.work h3 {
    font-style: italic;
    padding: 10px;
}

.sites {
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
    grid-gap: 20px;
}

.sites img {
    width: 100%;
    max-height: 500px;
    justify-content: space-around;
    border: 4px solid #262626;
    border-radius: 2em;
}

.sites a {
    font-size: 18px;
    color: #fff;
    font-variant: uppercase;
}

.sites p {
    text-transform: none;
}

.work-img.work-1 {
    grid-column: 2/ span 1;
}

.work-img {
    margin-bottom: 20px;
}


.tokyo-photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.tokyo-photos img {
    width: 100%;
    border: 2px solid #262626;
}

.tokyo-photos a {
    color: #fff;
}

.tokyo-photos p {
    text-transform: none; 
}

.film {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.film img {
    width: 100%;
    border: 2px solid #262626;
}

.film a {
    color: #fff;
}



/* Footer styles start */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
/* Footer styles end */